@font-face {
    font-family: DungGeunMo;
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.ttf") format("truetype");
    font-display: swap;
}
body, code, html, kbd, pre, samp {
    font-family: "Press Start 2P", DungGeunMo, monospace;
}
.tooltip {
    font-family: "Press Start 2P", DungGeunMo, monospace;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    image-rendering: pixelated;
}
.nes-container > .nes-badge {
    font-size: 0.75rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}